.viewComponentDiv {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 1%;
  flex-wrap: wrap;
  display: flex;
}
.buttonsDiv {
  margin-top: 3%;
  margin-left: 10%;
  width: 15%;
  height: 40px;
}
.btn {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-right: 5px;
  border-radius: 10%;
  font-size: 100%;
  color: white;
  font-weight: bold;
  min-width: 70px;
}
.searchDiv {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  height: 5%;
  text-align: center;
  font-size: 15px;
}
#search {
  width: 100%;
  height: 80%;
  margin: auto;
  border: 2px solid black;
}

.movie {
  width: 35%;
  height: 60%;
  background-color: #d5e3eb;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  border: 2px solid silver;
  align-items: center;
  text-align: center;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.poster {
  margin: auto;
  height: 80%;
  width: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.movieTitle {
  font-weight: bold;
  font-size: 15pt;
}
.details {
  margin: auto;
  border-radius: 10%;
  background-color: #008cba;
  color: white;
  font-weight: bold;
  width: 25%;
  height: 8%;
  font-size: 15px;
}
.movie,
.btn:hover {
  cursor: pointer;
}
.poster:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 1050px) {
  .buttonsDiv {
    display: inline-block;
    margin-bottom: 1%;
  }
  .movie {
    width: 60%;
  }
}
