body {
  margin: 0;
  background-image: url("./assets/pictures/wallpaper.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eceae5 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
